@font-face {
  font-family: "gg sans";
  src: url("./assets/fonts/ggsans-Semibold.woff2");
}

:root {
  --font-primary: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --guilds-grey: #1e2124;
  --status-green: #3ba53b;
}

body {
  background-color: initial;
  font-family: var(--font-primary), sans-serif;
  margin: 0;
}

.Voice_voiceContainer__adk9M {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.Voice_voiceStates__a121W {
  list-style-type: none;
  padding-left: 15px;
}

.Voice_voiceState__OCoZh {
  height: 50px;
  margin-bottom: 8px;
}

.Voice_avatar__htiqH {
  border: 3px solid transparent;
  border-radius: 50%;
  float: left;
  height: 50px;
  margin-right: 8px;
  width: 50px;
}

.Voice_avatarSpeaking__lE\+4m {
  border-color: var(--status-green);
}

.Voice_user__8fGwX {
  padding-top: 18px;
}

.Voice_name__TALd9 {
  background-color: var(--guilds-grey);
  border-radius: 3px;
  padding: 4px 6px;
}

.Voice_smallAvatar__tPOas {
  height: 40px;
}

.Voice_smallAvatarAvatar__gX9I5 {
  height: 40px;
  width: 40px;
}

.Voice_smallAvatarUser__pIEbt {
  padding-top: 12px;
}
